footer
{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 0px 0px;
}

.nav__foot ul li
{
   /* display: inline;*/
    font-size: 25px;
    font-weight:900;
}

.redes
{
    height: 30px;
}