a 
{
    color: red;
    font-size: 25px;
    font-weight:200;
}
a:hover
{   
    font-size: 35px;
    color:salmon;
}


header nav ul .navmenu
{
    display: inline;
    padding: 40px 40px 0px 0px;
    height: 100px;
    transition: 1s;
}

.navmenu:hover 
{
    height: 200px;
}